[package]
name = "archi"
version = "0.1.0"
authors = ["Vyacheslav Shimarulin <shimarulin@gmail.com>"]
edition = "2018"
license = "MIT"
license-file = "LICENSE"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

# Release optimization
[profile.release]
opt-level = 'z'  # Optimize for size.
lto = true
panic = 'abort'

[dependencies]
dialoguer = "0.8.0"
serde = { version = "1.0.125", features = ["derive"] }
serde_json = "1.0.64"
