[changelog]
path = "CHANGELOG.md"

pre_bump_hooks = [
    "cargo bump {{version}}",
    "cargo test --verbose",
    "git add ./Cargo.lock",
]

post_bump_hooks = [
    "git push",
    "git push --tags"
]

[commit_types]
