changelog_path = "CHANGELOG.md"
pre_bump_hooks = [
    "cargo bump {{version}}",
    "cargo build --release --verbose",
    "strip target/release/archi",
    "git add ./Cargo.lock",
]
post_bump_hooks = []
authors = []

[commit_types]
