name: Release

on:
  push:
    branches: [ main ]
    tags-ignore:
    - "*"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    # https://stackoverflow.com/questions/57921401/push-to-origin-from-github-action/58393457#58393457
    - name: Setup Git
      run: |
        git config --global user.name 'github-actions'
        git config --global user.email 'github-actions@github.com'

    - name: Install dependencies
      run: cargo install cocogitto cargo-bump

    - name: Check commits
      run: cog check

    - name: Current branch
      run: git branch --show-current

    - name: Create release
      run: cog bump --auto

    - name: Deploy release
      uses: softprops/action-gh-release@v1
      with:
        files: target/release/archi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
